/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.capitalize {
    text-transform: capitalize;
}

.h-center {
    text-align: center;
}

.v-center {
    position: absolute;
    top: 50%;
}

.bold {
    font-weight: bold;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-20 {
    margin-top: 20px;
}